{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ base_url }}/css/lightgallery.min.css">
{% endblock styles %}

{% block libs %}
{{ super() }}
<script src="{{ base_url }}/js/lightgallery.min.js"></script>
{% endblock libs %}

{% block scripts %}
{{ super() }}
<script>
    var elements = document.getElementsByClassName("md-content");
    for (var i = 0; i < elements.length; i++) {
        lightGallery(elements[i], { selector: '.lightgallery-item', speed: 200, loop: false });
    }
</script>
{% endblock scripts %}

{% block content %}
{{ super() }}

{% if git_page_authors %}
<div class="md-source-date">
    <small>
        {% if git_info.get('page_authors')|length > 1 %}
        Authors:
        {% elif git_info.get('page_authors')|length == 1 %}
        Author:
        {% endif %}
        {% if git_info %}
        {%- for author in git_info.get('page_authors') -%}
        <span style="color: var(--md-primary-fg-color) !important;">{{ author.name }}</span>{{ ", " if not
        loop.last
        else "" }}
        {%- endfor -%}
        {% endif %}
    </small>
</div>
{% endif %}
{% endblock %}
