plugins/lightgallery-markdown-extended/build
plugins/lightgallery-markdown-extended/dist
plugins/lightgallery-markdown-extended/lightgallery_markdown_extended.egg-info

docs/assets/images/**/*.thumbnail.*